body {
    background-color: palevioletred;
}

a{
    text-decoration: none;
    color: red;
}

#res{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

#renkDegis{
    margin-left: auto;
    margin-right: auto;
}

#nav ul{
    list-style-type: none;
    padding:0;
}

#container{
    background-color: white;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    margin: 0;
}

#header {
    background-color:#66ccff;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
    padding: 10px 10px 10px 10px;
}

#nav{
    width: 180px;
    float: left; 
}

#main{
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#footer{
    clear: both;
    background-color: #999999;
    color: white;
    text-align: center;
}

.selected{
    font-weight: bold;
}
